<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>后台管理系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- VENDOR CSS -->
		<link rel="stylesheet" href="../../public/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../public/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../public/vendor/linearicons/style.css">
		<link rel="stylesheet" href="../../public/vendor/chartist/css/chartist-custom.css">
		<!-- MAIN CSS -->
		<link rel="stylesheet" href="../../public/css/admin.css">
		<script type="text/javascript" src="../../public/js/jquery-3.2.1.min.js"></script>
	</head>

	<body>
		<!-- WRAPPER -->
		<div id="wrapper">
			<!-- NAVBAR -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="brand">
					<a href="#">TTBLOG</a>
				</div>
				<div class="container-fluid">
					<div class="navbar-btn">
						<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
					</div>
					<div id="navbar-menu">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
									<i class="lnr lnr-alarm"></i>
									<span class="badge bg-danger">5</span>
								</a>
								<ul class="dropdown-menu notifications">
									<li>
										<a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a>
									</li>
									<li>
										<a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a>
									</li>
									<li>
										<a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a>
									</li>
									<li>
										<a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a>
									</li>
									<li>
										<a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a>
									</li>
									<li>
										<a href="#" class="more">See all notifications</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
									你好，{{userInfo.username}}
								</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
									退出
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- END NAVBAR -->
			<!-- LEFT SIDEBAR -->
			<div id="sidebar-nav" class="sidebar">
				<div class="sidebar-scroll">
					<nav>
						<ul class="nav">
							<li>
								<a class="active"><i class="lnr lnr-home"></i> <span>首页</span></a>
							</li>
							<li>
								<a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>设置</span></a>
							</li>
							<li>
								<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
								<div id="subPages" class="collapse ">
									<ul class="nav">
										<li>
											<a href="/admin/user" class="">用户管理</a>
										</li>
										<li>
											<a href="/admin/category" class="">分类管理</a>
										</li>
										<li>
											<a href="/admin/content" class="">文章管理</a>
										</li>
										<li>
											<a href="page-lockscreen.html" class="">评论管理</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- END LEFT SIDEBAR -->
			<div class="main">
				{% block main %}{% endblock %}
			</div>
	</body>
	<!-- Javascript -->
	<script src="../../public/vendor/jquery/jquery.min.js"></script>
	<script src="../../public/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../public/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../../../public/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="../../public/vendor/chartist/js/chartist.min.js"></script>
	<script src="../../public/js/klorofil-common.js"></script>
	<script type="text/javascript">
	</script>

</html>