<style type="text/css">
	li{margin-left: 10px;list-style: none;}
</style>
<p class="table-info">一共有{{count}}个，每页显示{{limit}}个</p>

<ul class="page-btn" style="display: flex;justify-content: flex-end;align-items: center;">
    {% if Number(page)-1!==0 %}
    <li><a href="/admin/{{type}}?page={{Number(page)-1}}">上一页</a></li>
    {% else %}
    <!--<li>第一页</li>-->
    {% endif %}
    {% if Number(page)+1<=pages %}
    <li><a href="/admin/{{type}}?page={{Number(page)+1}}">下一页</a></li>
    {% else %}
    <!--<li>最后一页</li>-->
    {% endif %}
</ul>
