ol,
li {
	list-style: none;
}

.container-fluid,
.container-left>* {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container-left {
	width: 850px;
	align-self: flex-start;
}

.imageShow>* {
	background: #003087;
	height: 300px;
}

.nav-content:nth-child(3) {
	font-weight: bold;
}

.news {
	padding: 10px 15px 10px 15px;
	margin: 10px 0 10px 0;
	background: #FFF;
	height: 24px;
}

.blog-article {
	margin-top: 10px;
}

.blog-content {
	border-bottom: 1px solid #F0F0F0;
	background: #FFF;
	height: 144px;
	padding: 30px 0;
	width: 850px;
}

.blog-content dt {
	width: 150px;
	padding: 0 20px;
	float: left;
	height: 131px;
	border-right: 1px solid #F0F0F0;
	text-align: center;
}

.blog-content dt img {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	display: block;
	margin: 20px auto;
}

.blog-content dd {
	margin-left: 200px;
	padding: 0 20px;
	height: 144px;
}

.blog-content dd h3 {
	line-height: 24px;
	padding-bottom: 10px;
}

.blog-desp {
	font-size: 14px;
	color: #888;
	max-height: 50px;
}

.blog-info {
	font-size: 14px;
	color: #555;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container-right {
	width: 320px;
	align-self: flex-start;
}

.container-right>* {
	background: #FFF;
	margin-bottom: 10px;
	padding: 0 20px;
}

.blog-search {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blog-search input[type=text] {
	width: 220px;
	height: 30px;
	padding-left: 10px;
	border: 2px solid #88c1bc;
}

.blog-search a {
	width: 60px;
	height: 34px;
	/*border: 2px solid #88c1bc;*/
	text-align: center;
	line-height: 34px;
	background: #88c1bc;
	color: #FFF;
}
.blog-search a:hover{
	cursor: pointer;
}
.blog-calender,
.blog-category {
	padding: 0;
}


.blog-category li {
	border-top: 1px dashed #A3A3A3;
	height: 40px;
	line-height: 40px;
	border-left: 5px solid #88C1BC;
	margin: 0;
	padding: 0 20px;
}

.blog-category li:nth-child(1) {
	border-top: 0;
}
/*.cate-active{
	border-left: 5px solid #88C1a0;
}*/
.blog-write-btn{
	background: #88C1BC;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.blog-write-btn a{
	display: block;
	color: #FFF;
	background: #88C1BC;
}
/*展示图片*/
.imageShow {
	list-style: none;
	text-align: center;
}

/* Common style */
.imageShow figure {
	position: relative;
	float: left;
	overflow: hidden;
	min-width: 340px;
	max-width: 500px;
	max-height: 360px;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.imageShow figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.imageShow figure figcaption {
	/*padding: 2em;*/
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.imageShow figure figcaption::before,
.imageShow figure figcaption::after {
	pointer-events: none;
}

.imageShow figure figcaption,
.imageShow figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.imageShow figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.imageShow figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.imageShow figure h2 span {
	font-weight: 800;
}

.imageShow figure h2,
.imageShow figure p {
	margin: 0;
}

.imageShow figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
figure.effect-layla {
	background: #18a367;
}

figure.effect-layla img {
	height: 390px;
}


figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 100px;
	width: 70%;
	margin: 0 auto;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 5em;
	height: 50px;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}