* {
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
}

body {
	background: #f0f0f0;
}

a {
	text-decoration: none;
	color: #000000;
}


/*nav bar*/
.active-bar{
	font-weight: bold;
}
.head-nav {
	background: #FFF;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 2px solid #ddd;
}

.head-content {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1170px;
}

.head-nav ul,
.head-nav a,
.nav-ul a {
	margin-right: 15px;
	color: #000;
	text-decoration: none;
}

.nav-ul {
	width: auto;
	height: 40px;
	padding: 0 15px 0 15px;
	background: #F0F0F0;
}

.nav-ul li {
	list-style: none;
}

.nav-article {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

.main-view {
	width: 1190px;
	/*padding: 0 20px;*/
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}
.main-view-left{
	width: 850px;
}
.main-view-right{
	width: 320px;
}
.swiper-container {
	width: 850px;
	height: 300px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.main-view-right > *{
	background: #FFF;
	padding: 0 20px;
	border-top: 6px solid #88C1BC;
	color: #888888;
	padding-bottom: 5px;
}
.main-view-auther ul{
	padding: 0;
	margin-top: 15px;
}
.main-view-auther ul > li{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.main-view-auther img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.main-auther-message{
	width: 120px;
}
.main-auther-message div{
	font-size: 14px;
}
.focus-u{
	border: 1px solid #88C1BC;
	padding: 4px 8px;
	border-radius: 16px;
	font-size: 14px;
	color: #888888;
}
a{
	text-decoration: none;
	outline: none;
}
.focus-active{
	color: #FFF;
	background: #88C1BC;
	padding: 4px 10px;
	width: 100%;
}
.focus-btn{
	width: 90px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
