*{
	padding: 0;
	margin: 0;
}
h1{
	text-align: center;
}
body{
	background: #f0f0f0;
}
a{
	text-decoration: none;
	color: #000000;
}
/*nav bar*/
.head-nav{
	background: #FFF;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 2px solid #ddd;
}
.head-content{
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1170px;
}
.head-nav ul, .head-nav a, .nav-ul a{
	margin-right: 15px;
	color: #000;
	text-decoration: none;
}
.nav-ul{
	width: auto;
	height: 40px;
	padding: 0 15px 0 15px;
	background: #F0F0F0;
}
.nav-ul li{
	list-style: none;
}
.nav-article{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}
