    html,
    body {
    	position: relative;
    	height: 100%;
    }
    
    body {
    	background: #000;
    	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    	font-size: 14px;
    	color: #000;
    	margin: 0;
    	padding: 0;
    }
    
    a {
    	color: #FFFFFF;
    }
    
    a:hover {
    	color: #EEEEEE;
    }
    
    .form-margin input::-moz-placeholder {
    	color: #FFF;
    }
    
    .form-margin input:-ms-input-placeholder {
    	color: #FFF;
    }
    
    .form-margin input::-webkit-input-placeholder {
    	color: #FFF;
    }
    
    .swiper-container {
    	width: 100%;
    	height: 100%;
    }
    
    .swiper-slide {
    	text-align: center;
    	font-size: 18px;
    	background: #fff;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-pack: center;
    	-ms-flex-pack: center;
    	-webkit-justify-content: center;
    	justify-content: center;
    	-webkit-box-align: center;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
    	align-items: center;
    }
    
    .login {
    	color: #FFFFFF;
    	position: absolute;
    	z-index: 100;
    	width: 30%;
    	top: 25%;
    	left: 35%;
    	text-align: center;
    }
    
    #title {
    	font-size: 25px;
    }
    
    .form-margin {
    	margin-top: 15px;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    }
    
    .form-margin input {
    	width: 90%;
    	background: rgba(0, 0, 0, 0);
    	border: 1px solid #FFFFFF;
    	color: #FFFFFF;
    }
    
    .btn-login {
    	width: 100%;
    	background: rgba(255, 255, 255, 0.3);
    	border: 1px solid #FFFFFF;
    }
    
    .btn-login:hover {
    	background: rgba(255, 255, 255, 0.5);
    }