body{
	background: #f0f0f0;
	color: #000;
}
a{
	color: #000;
	text-decoration: none;
}
.btn-mybtn{
	background: #88C1BC;
	color: #FFF;
}
/*发布文章页面*/
.smallTips{
	height: 30px;
	background: #E5E5E5;
	width: 100%;
	border: 1px solid #CCCCCC;
	border-bottom: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*padding: 0 20px;*/
}
.smallTips div{
	width: 40px;
	height: 30px;
	text-align: center;
}
.smallTips div:hover{
	background: #CCCCCC;
}
#upload input[type=button]{
	width: 100%;
}
#upload #successTip{
	text-align: center;
	color: orange;
	display: none;
}
.postedit-view ,.postlist-view,.my-view{
	width: 960px;
	padding: 20px;
	margin: 0 auto;
}
.userInfo{
	margin-bottom: 20px;
}
.userInfo img{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	margin-right: 15px;
}
.userInfo>* {
	margin-right: 15px;
}
.userInfo a{
	text-decoration: none;
}
textarea {
	resize: none;
	width: 100%;
	overflow-y: scroll;
}

.content-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-head .form-control {
	width: 380px;
}
.func-btn{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list-bar{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.list-bar-content{
	width: 100px;
	height: 40px;
	background: #88C1BC;
	margin-right: 2px;
	line-height: 40px;
	text-align: center;
}
.list-bar-content > a{
	display: block;
	color: #FFF;
	text-decoration: none;
}
.content-active{
	background: none;
	border: 1px solid #88C1BC;
	border-bottom: 0;
}
.content-active > a{
	color: #000000;
}
.postlist-table{
	padding: 20px;
	margin: 20px auto; 
	background: #FFF;
	font-size: 14px;
}
table, th, td{
	text-align: center;
	font-size: 14px;
}
.postlist-table a{
	font-size: 14px;
}
.write-new{
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #88C1BC;
	background: #FFF;
	border: 1px solid #88C1BC;
	border-radius: 20px;
}
.write-new a{
	display: block;
	text-decoration: none;
}
.my-view{
	width: 850px;
	display: flex;
	justify-content: space-between;
	background: #FFF;
}
.my-view-left{
	width: 500px;
}
.userInfo{
	height: 80px;
}
.userInfo img{
	float: left;
}
ul{
	padding: 0;
}
li{
	list-style: none;
}
.user img{
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
.articleDesp{
	height: 50px;
	/*margin-bottom: -30px;*/
}
.articleDesp p, .lookInfo span{
	font-size: 14px;
	color: #888;
}
.my-view-right{
	width: 280px;
	border-left: 1px solid #88C1BC;
	padding-left: 20px;
}
.my-view-right >ul >li{
	margin-bottom: 15px;
}
.mid-ul li{
	font-size: 14px;
	color: #888888;
	margin: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mid-ul li span{
	font-size: 14px;
}
.my-view-right-ul li div:hover{
	cursor: pointer;
}
.my-view-right-ul li ul{
	display: none;
}
.myblog-view{
	width: 667px;
	padding: 20px;
	background: #FFF;
	margin: 10% auto;
}
.myblog-view p{
	background: #eee;
	border: 1px solid #ddd;
	padding: 5px;
}
.myblog-row,.myblog-row > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.myblog-row > div{
	width: 48%;
	/*display: flex;
	justify-content: flex-start;
	align-items: center;*/
}
.myblog-row input[type=text]{
	width: 80%;
}
.input-file{
	position: relative;
    display: inline-block;
    background: rgba(136, 193, 188, 0.3);
    border: 1px solid #88C1BC;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #88C1BC;
    text-decoration: none;
    text-indent: 0;
    line-height: 30px;
    text-align: center;
    width: 150px;
}
.input-file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.input-file:hover {
    background: rgba(136, 193, 188, 0.7);
    border-color: #88C1BC;
    color: #FFF;
    text-decoration: none;
}
/*---------------关注用户--------------*/
.my-headimg, .my-headimg img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
.focus-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.focus-list .user-info{
	width: 320px;
	height: 60px;
}
.user-info div:nth-child(2){
	width: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user-info span{
	font-size: 14px;
}
