{% extends 'nav-bar.html'%} {% block main%}
<div class="my-view">
	<div class="my-view-left">
		<div class="userInfo">
			<img src="{{hisInfo.headimg}}" />
			<div>
				<h3>{{hisInfo.username}}</h3></div>
			<div style="width: 500px;">
				<span style="margin-right: 25px;">关注 - {{hisInfo.focus.length}}</span>|
				<span style="margin-right: 25px;">粉丝 - {{hisInfo.fans.length}}</span>|
				<span style="margin-right: 25px;">文章 - {{contents.length}}</span>
			</div>
		</div>
		<hr>
		<div class="my-postlist">
			<ul>
				{% for content in contents%}
				<li>
					<div class="postDetail">
						<div class="user">
							<img src="{{hisInfo.headimg}}" />
							<span>{{hisInfo.username}}</span>
							<span style="color: #888; font-size: 14px;">{{content.date}}</span>
						</div>
						<div class="articleTitle"><a href="/view?contentId={{content._id.toString()}}"><h4>{{content.title}}</h4></a></div>
						<div class="articleDesp"><p>{{content.description}}</p></div>
						<div class="lookInfo">
							<span><i class="fa fa-eye"></i> {{content.views}}</span>
							<span><i class="fa fa-comment-o"></i> {{content.comments.length}}</span>
							<span><i class="fa fa-heart-o"></i>{{content.liked}}</span>
						</div>
						<hr style="margin-top: 0;"/>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="my-view-right">
		<ul>
			<li>
				<i class="fa fa-address-card"></i>
				<span>个人介绍</span>
				<p>{{hisInfo.introduction}}</p>
			</li>
			<li>
				<i class="fa fa-eye"></i>
				<span>阅读排行</span>
				<ul class="mid-ul">
					{% for content in contents%}
					<li>
						<span>{{content.title}}</span>
						<span>({{content.views}})</span>
					</li>
					{% endfor %}
				</ul>
			</li>
			<li>
				<i class="fa fa-heart-o"></i>
				<span>喜欢的文</span>
				<ul class="mid-ul">
					{% for content in contents%}
					<li>
						<span>{{content.title}}</span>
						<span>({{content.views}})</span>
					</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	</div>
</div>
{% endblock %}