{% extends 'nav-bar.html'%} {% block main%}
<div class="main-view">
	<div class="main-view-left">
		<!--图片展示区-->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="http://upload-images.jianshu.io/upload_images/3404372-80da392ea5e7a9a6.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50"/>
				</div>
				<div class="swiper-slide">
					<img src="http://upload-images.jianshu.io/upload_images/4245626-9b332600c1cc79b9.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"/>
				</div>
				<div class="swiper-slide">
					<img src="http://upload-images.jianshu.io/upload_images/3678149-668e25bacdeee5b3.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" />
				</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
		<!--分类区-->
		<div class="cate-view">
			{% for cate in categories %}
			<div class="cate-tag">
				<img src="http://upload.jianshu.io/collections/images/477019/timg.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240" />
				{{cate.name}}
			</div>
			{% endfor %}
		</div>
		<!--显示有封面图的文章-->
		<div class="cover-view">
			{% if contents %}
			{% for content in contents %}
			<div class="coverContent">
				<div class="cover-userInfo">
					<img src="{{content.user.headimg}}" />
					<span>{{content.user.username}}</span>
					<span>{{content.date}}</span>
				</div>
				<div class="mainContent">
					<div>
						<h3><a href="/view?contentId={{content._id.toString()}}">{{content.title}}</a></h3>
						<div class="articleDesp2">{{content.content}}</div>
					</div>
					<a href="/view?contentId={{content._id.toString()}}">
						<img src="{{content.coverImg}}"/>
					</a>
				</div>
				<div class="showDetail">
					<div>{{content.category.name}}</div>
					<span><i class="fa fa-eye"></i> {{content.views}}</span>
					<span><i class="fa fa-comment-o"></i> {{content.comments.length}}</span>
					<span><i class="fa fa-heart-o"></i> {{content.liked}}</span>
				</div>
				<hr style="border-top: 1px solid #E0E0E0;" />
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>

	<div class="main-view-right">
		<!--news-->
		<!--<div class="main-view-news">

		</div>-->
		<!--auther-->
		<div class="main-view-auther">
			<div style="display: flex;justify-content: space-between;align-items: center;">
				<span>推荐关注</span>
				<!--{{pages}}-->
				{% if page+1
				<=pages %} <span>
					<a href=""><i class="fa  fa-circle-o-notch"></i>换一换</a>
					</span>
					{% else %}
					<span><a href=""><i class="fa  fa-circle-o-notch"></i>换一换</a></span> {% endif %}
			</div>
			<ul>
				{% for user in users%}
				<li>
					<img src="{{user.headimg}}" />
					<div class="main-auther-message">
						<div>{{user.username}}</div>
						<div style="display: inline-block;">关注：<span id="focus">{{user.focus.length}}</span></div>
						<div style="display: inline-block;">粉丝：<span id="fans">{{user.fans.length}}</span></div>
					</div>
					{% if user.isMe %}
					<div class="focus-btn">
						{% if user.myFan %}
						<a href="javascript:;" class="focus-u focus-active" id="{{user._id.toString()}}/{{user.username}}">
							<i class="fa fa-check"></i> 已关注
						</a>
						{% else %}
						<a href="javascript:;" class="focus-u" id="{{user._id.toString()}}/{{user.username}}">
							<i class="fa fa-plus"></i> 关注
						</a>
						{% endif %}
					</div>
					{% else %}
					<div class="focus-btn"></div>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".focus-u").click(function() {
		var index = $(this).index('.focus-u');
		var info = $(this).attr('id').split('/');
		var id = info[0];
		var name = info[1];
		console.log(id);
		$.ajax({
			type: "post",
			url: "api/focus",
			data: {
				id: id,
				name: name,
				focus: $('#focus').text(),
				fans: $('#fans').text()
			},
			dataType: 'json',
			success: function(data) {
				swal('', data.message, 'success');
				$('.main-auther-message').eq(index).children().eq(1).text("粉丝：" + data.nowfans);
				if(data.message == "关注成功") {
					$('.focus-u').eq(index).html('<i class="fa fa-check"></i> 已关注');
					$('.focus-u').eq(index).addClass('focus-active');
				} else if(data.message == "取关成功") {
					$('.focus-u').eq(index).html('<i class="fa fa-plus"></i> 关注');
					$('.focus-u').eq(index).removeClass('focus-active');
				}
			},
			error: function(data) {
				console.log(data);
			}
		});
	})
</script>
{% endblock %}