{% extends 'nav-bar.html'%} {% block main%}
<div class="main-view">
	<div class="main-view-left">
		<!--图片展示区-->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">Slide 1</div>
				<div class="swiper-slide">Slide 2</div>
				<div class="swiper-slide">Slide 3</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>

	<div class="main-view-right">
		<!--news-->
		<div class="main-view-news">

		</div>
	</div>
</div>
{% endblock %}