{% extends 'nav-bar.html'%} {% block main%}
<div class="result-view">
	<div class="aside">
		<ul class="menu">
			<li>
				<a>
					<div class="type-icon">
						<i class="fa fa-file-text"></i>
					</div>
					<span>文章</span>
				</a>
			</li>
			<li class="active">
				<a>
					<div class="type-icon">
						<i class="fa fa-user"></i>
					</div>
					<span>用户</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="result">
		<div style="text-align: right;">{{users.length}}个结果</div>
		<ul>
			{% for user in users%}
			<li>
				<img src="{{user.headimg}}" />
				<div class="main-auther-message">
					<div>{{user.username}}</div>
					<div style="display: inline-block;">关注：<span id="focus">{{user.focus.length}}</span></div> |
					<div style="display: inline-block;">粉丝：<span id="fans">{{user.fans.length}}</span></div>
				</div>
				{% if user.isMe %}
				<div class="focus-btn">
					{% if user.myFan %}
					<a href="javascript:;" class="focus-u focus-active" id="{{user._id.toString()}}/{{user.username}}">
						<i class="fa fa-check"></i> 已关注
					</a>
					{% else %}
					<a href="javascript:;" class="focus-u" id="{{user._id.toString()}}/{{user.username}}">
						<i class="fa fa-plus"></i> 关注
					</a>
					{% endif %}
				</div>
				{% else %}
				<div class="focus-btn"></div>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="return-top">
	<a href="#topAnchor">
		<img src="../../public/images/arrow_down.png" />
		<div>回到顶部</div>
	</a>
</div>
<script type="text/javascript">
	//get url
	var key = "{{key}}";
	var nowUrl = window.location.href;
	$('li').eq(0).click(function() {
		$(this).children('a').attr('href', "http://localhost:9001/search?key=" + key + "&type=note");
	});
	$('li').eq(1).click(function() {
		$(this).children('a').attr('href', "http://localhost:9001/search?key=" + key + "&type=user");
	});
</script>
{% endblock %}